<h3>Detalle de la Tarea</h3>
<h4><%= notice %></h4>
<p>
	<strong>Descripcion: </strong><%= @todo.description %><br>
	<strong>Completado: </strong><%= @todo.completed %>
</p>

<%= link_to 'Volver al index', todos_path %>